<nav class="navbar navbar-light bg-dark">
    <a  class="navbar-brand ml-2" href="/perguntar">
        <img  class="rounded mx-auto d-block" width="60" height="60" src="https://www.freeiconspng.com/thumbs/google-plus-logo/google-plus-icon--circle-iconset--martz90-20.png">
    </a>
</nav>